<h1>My lists</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"><%= "No" %></th>
      <th scope="col"> <%= "Name" %> </th>
      <th scope="col"> <%= "" %> </th>
      <th scope="col"> <%= "" %> </th>
    </tr>
  </thead>

  <tbody>
  <% @lists.each do |list| %>
    <tr>
      <th scope="row"><%= list.id %></th>
      <td><%= list.name %> </td>
      <td><%= link_to 'Show', list %></td>
      <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New List', new_list_path, class: 'btn btn-primary' %>

<%= cl_image_tag("https://res.cloudinary.com/dk9bhadx6/image/upload/v1631265106/c2yfrsti4ls9qwk4wmzy.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("https://res.cloudinary.com/dk9bhadx6/image/upload/v1631265097/fasxeeessrsffsktyc1b.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
